{% extends "base_generic.html" %}

{% block content %}
    <h1>Lista de autores</h1>
    <form method="GET">
      <input type="text" name="busqueda" placeholder="¡Búscame!" value="{{ busqueda }}">
      <button type="submit">Buscar</button>
    </form>
    {% if author_list %}
    <ul>

      {% for author in author_list %}
      <li>
        <a href="{{ author.get_absolute_url }}">{{ author.last_name }}</a> ({{author.first_name}})
      </li>
      {% endfor %}

    </ul>
    <p>¿Lista paginada? {{ is_paginated }}</p>
    <p>Fecha actual: {{ now }}</p>
    {% else %}
      <p>No hay autores en la biblioteca.</p>
    {% endif %}
    <a href="{% url 'author-create' %}">Añadir autor</a>
{% endblock %}
