{% extends "base_generic.html" %}

{% block content %}

{% if messages %}
<ul>
  {% for message in messages %}
     <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit" />

</form>

{% if form.errors %}
    <div class="errorlist">
        <ul>
        {% for field in form %}
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
        </ul>
    </div>
{% endif %}
{% endblock %}